<h3>About</h3>
<p>

We the Entities was developed by Yoni Ben-Meshulam as part of the <a href="http://www.whitehouse.gov/developers/apply-national-day-civic-hacking-white-house">National Day of Civic Hacking event at the
White House</a>. It leverages the
<a href="https://petitions.whitehouse.gov/developers">We the People API</a> to access petition data
and uses services like <a href="http://www.opencalais.com/">Open Calais</a>,
    <a href="http://www.alchemyapi.com/">AlchemyAPI</a> and <a href="https://semantria.com/">Semantria</a> to extract
    information from the petition text.
</p>
<p>
    <a href="https://github.com/yoni/wetheentities">Project homepage on Github.com</a>.
</p>
<h3>
    Screenshots
</h3>
<p>
    <a href="<%= image_path 'we_the_entities_screenshot.png' %>">
        <%= image_tag("we_the_entities_screenshot.png", :alt => "Petition Browser", :height=>'30%', :width=>'30%') %>
    </a>
</p>
