<h3>Projects using We the Entities</h3>
<p>
    <small>
        To list your project, please send me a pull request to
        <a href="https://github.com/yoni/wetheentities">github.com/yoni/wetheentities</a> or let me know
        by adding your project to <a href="https://github.com/yoni/wetheentities/issues/5">this issue</a>.
    </small>
</p>
<div class='span12'>
    <div class='span4'>
        <h5>We the Visualization</h5>
        <p>by Garrett Miller of <a href='http://www.mapbox.com/'>MapBox</a></p>
        <%= image_tag "gallery/we_the_visualization.png", :size => "300x200", :alt => "We the Visualization" %>
        <p><a href="http://heyitsgarrett.com/wethevisualization/issue.html?issue=Foreign%20Policy">Foreign Policy visualized</a></p>
        <p>Visualizing location data pulled from We the Entities</p>
    </div>
    <div class='span4'>
        <h5>We the People -- Instant Search</h5>
        <p>by Ivan Stegic of <a href='http://ten7.com/'>TEN7 Interactive</a></p>
        <%= image_tag "gallery/we_the_people__instant_search.png", :size => "300x200", :alt => "Instant Search" %>
        <p><a href="http://ivanstegic.github.io/wethepeople-instantsearch/">Instant Search</a></p>
        <p>Instant search of Petitions with sentiment analysis</p>
    </div>
</div>
