<p class="lead">
    We the Entities adds rich entities, sentiment analysis, and other text-based analysis
    on petitions taken from the White House's
    <a href="https://petitions.whitehouse.gov">We the People</a> application.
<p>
<p>
    It provides a summary of the "entities" (e.g. people, places, organizations), themes, and
    phrases from petitions. It also discerns the sentiment of the author
    towards these entities (i.e. negative, neutral or positive).
</p>
<div class="row">
    <%= link_to(:controller => :petitions, :action => :index) do %>
        <div class="span4">
            <h4>Petition Browser</h4>
            <%= image_tag("titles.png", :alt => "rss feed") %>
        </div>
    <% end %>
    <%= link_to(:controller => :home, :action => :api) do %>
        <div class="span4">
            <h4>Developer API</h4>
            <%= image_tag("themes_json.png", :alt => "rss feed") %>
        </div>
        <div class="span4"></div>
    <% end %>
</div>

