<hr />
<%= @html.html_safe %>
<script type="text/javascript" src="/<%= @js_source %>"></script>
<hr />
<h5>Markup</h5>
<%= @html_highlighted.html_safe %>
<h5>JavaScript</h5>
<%= @javascript_highlighted.html_safe %>
