<h4>Examples</h4>
<ul>
    <li>
        <%= link_to "Sentiment", :controller => :examples, :action => :sentiment %>
    </li>
    <li>
        <%= link_to "Geo", :controller => :examples, :action => :geo%>
    </li>
</ul>