<h3>Sentiment Example</h3>
<p>An example for extracting sentiment analysis from a petition's title and body.</p>
<hr />
<%= @html.html_safe %>
<script type="text/javascript" src="/<%= @js_source %>"></script>
<hr />
<h5>sentiment.html</h5>
<%= @html_highlighted.html_safe %>
<h5>sentiment.js</h5>
<%= @javascript_highlighted.html_safe %>
